{% extends "header.jinja2" %}

{% block view_content %}
    <div style="text-align: center">
        <h1>Add member to group "{{group.name}}"</h1>
        <br />
        {% if message %}
            <p style="color: red">{{message}}</p>
            <br />
        {% endif %}
        <form action="{{url}}" method="post">
            <input type="hidden" name="came_from"
                   value="{{came_from}}"/>
            <label for="member">Name</label>
            <input type="text" id="member"
                   name="member"
                   value="{{member}}"/>
            <br /><br />
            <input type="submit" name="form.submitted"
                   value="Add"/>
        </form>
    </div>
{% endblock %}