<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <title>Blog: {{name}}</title>
    {% endblock %}
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{request.static_url('blog:static/theme.css')}}" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <div id="main">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">
        &copy; Copyright 2016 by Alexander Ivanov
    </div>
</body>
</html>