{% extends "base.html" %}

{% block content %}
    <div style="text-align: center">
        <h1>Login</h1>
        <br />
        {% if message %}
            <p style="color: red">{{message}}</p>
            <br />
        {% endif %}
        <form action="{{url}}" method="post">
            <input type="hidden" name="came_from"
                   value="{{came_from}}"/>
            <label for="login">Username</label>
            <input type="text" id="login"
                   name="login"
                   value="{{login}}"/><br/>
            <br />
            <label for="password">Password</label>
            <input type="password" id="password"
                   name="password"
                   value="{{password}}"/><br/>
            <br />
            <input type="submit" name="form.submitted"
                   value="Log In"/>
        </form>
        <br />
        <p><a href="{{request.application_url}}">Go Home</a></p>
    </div>
{% endblock %}